<ListView class="list-group" [items]="filteredTasks$ | async">
    <ng-template let-task="item">
        <ScrollView>
            <ns-task-item (tap)="onSelect(task.id)" [task]="task" [selectedId]="selectedId$ | async"></ns-task-item>
        </ScrollView>
    </ng-template>
</ListView>


<!--<ScrollView>-->
<!--    <StackLayout>-->
<!--        <ns-task-item (tap)="onSelect(task.id)" *ngFor="let task of tasks" [task]="task" [selectedId]="selectedId$ | async"-->
<!--        ></ns-task-item>-->
<!--    </StackLayout>-->
<!--</ScrollView>-->


