
.checkbox {
    height: 20;
    width: 20;
    border-width: 2;
    border-color: darkcyan;
    border-radius: 50%;
    overflow: hidden;
}

.selected-item {
    background-color: aliceblue;
}

.done-task {
    text-decoration: line-through;
}

.action-bt {
    font-size: 30;
    color: #ccc;
    vertical-align: center;
    horizontal-align: center;
}
