<!--<li (click)="select.emit(task.id)">{{task.description}}</li>-->


<FlexboxLayout (tap)="onTap()" [ngClass]="{'selected-item': task.id === selectedId}" flexDirection="row">
    <GridLayout columns="40, *" height="50" margin="2.5, 10" padding="10, 20" borderRadius="10">
        <StackLayout col="0" (tap)="toggleTaskStatus(task.id)" verticalAlignment="center" horizontalAlignment="left"
                     class="checkbox">
        </StackLayout>
        <StackLayout col="1" verticalAlignment="center" horizontalAlignment="left" borderRadius="5">
            <Label [ngClass]="{'done-task': task.done === true }" fontSize="18" [text]="task.description"></Label>
        </StackLayout>
    </GridLayout>
</FlexboxLayout>
