<ActionBar class="action-bar">
    <Label class="action-bar-title" text="ToDo-demo"></Label>
</ActionBar>


<GridLayout rows="*, auto">
    <StackLayout row="0">
        <!-- Main Content Example Start -->
        <StackLayout margin="10 0 10 0" padding="10 0">

            <ns-new-task></ns-new-task>
            <ns-task-list [tasks$]="tasks$"></ns-task-list>

        </StackLayout>
        <!-- Main Content Example End -->
    </StackLayout>

    <!-- Done-tasks -->
    <StackLayout row="1" class="done-tasks-container">
        <GridLayout columns="*, auto" rows="auto" class="done-tasks-title">
            <Label col="0" text="Done tasks" ></Label>
            <Label (tap)="deleteDoneTasks()" col="1" class="far clean-button" text="&#xf057;"></Label>
        </GridLayout>

        <ns-task-list [tasks$]="tasks$" [showDoneTasks]="true"></ns-task-list>
    </StackLayout>
    <!-- Done-tasks End -->

</GridLayout>

