<RadSideDrawer #rsd drawerTransition="PushTransition">
    <GridLayout tkDrawerContent>
        <StackLayout>
            <StackLayout height="56" class="drawer-container">
                <Label text="Categories" class="drawer-heading"></Label>
            </StackLayout>
            <ListView id="list-view" [items]="pages" (itemTap)="goToPage($event)" height="100%">
                <ng-template let-page="item">
                    <Button [text]="page.name" [nsRouterLink]="[page.url]" pageTransition="slide" padding="20"
                            class="drawer-item"></Button>
                </ng-template>
            </ListView>
        </StackLayout>
    </GridLayout>

    <GridLayout tkMainContent rows="60, *, auto">
        <GridLayout row="0" columns="60, *" (tap)="onOpenDrawerTap($event)">
            <Label col="0" text="&#xf0c9;" class="fa-solid menu-button"></Label>
            <label col="1" text="ToDo" class="drawer-heading"></label>
        </GridLayout>
        <StackLayout row="1">
            <!-- Main Content Example Start -->
            <StackLayout margin="10 0 10 0" padding="10 0">
                <ns-new-task></ns-new-task>
                <ns-task-list [tasks$]="tasks$"></ns-task-list>
            </StackLayout>
            <!-- Main Content Example End -->
        </StackLayout>
        <Button row="2"
                text="Done tasks"
                [nsRouterLink]="['./done-tasks']"
                pageTransition="slide"
                class="done-tasks-bt"
        ></Button>

    </GridLayout>

</RadSideDrawer>


