<RadSideDrawer #rsd drawerTransition="PushTransition">
    <!--    Drawer-->
    <GridLayout tkDrawerContent>
        <StackLayout>
            <StackLayout height="56" class="drawer-container">
                <Label text="Categories" class="drawer-heading"></Label>
            </StackLayout>
            <ListView [items]="pages" (itemTap)="goToPage()" height="100%">
                <ng-template let-page="item">
                    <Button [text]="page.name" [nsRouterLink]="[page.url]" pageTransition="slide"
                            class="drawer-item"></Button>
                </ng-template>
            </ListView>
        </StackLayout>
    </GridLayout>
    <!--    End Drawer-->
    <!--    Main content-->
    <GridLayout tkMainContent rows="60, *, auto">
        <StackLayout row="0" orientation="horizontal" (tap)="onOpenDrawerTap()">
            <Label width="60" text="&#xf0c9;" class="fa-solid menu-button"></Label>
            <label text="ToDo" class="drawer-heading"></label>
        </StackLayout>
        <StackLayout row="1" margin="10 0 10 0" padding="10 0">
            <ns-task-list [tasks$]="tasks$"></ns-task-list>
        </StackLayout>
        <StackLayout row="2">
            <ns-new-task></ns-new-task>
        </StackLayout>
    </GridLayout>
    <!--    End Main content-->
</RadSideDrawer>


