.done-tasks-container {
    height: 220;
    padding: 10;
    border-top-color: darkcyan;
    border-top-width: 1px;
}

.done-tasks-title {
    border-bottom-color: darkcyan;
    border-bottom-width: 1px;
    height: 50;
    padding: 6, 0;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 17;

}
